[Unit]
Description=Service for tpthermal
Wants=NetworkManager.service
After=multi-user.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tpthermals
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
